header {
    background-image: url(../img/nav-img.jpg);
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    margin-top: 0;
    text-align: center;
}

header 
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2.5em;
    margin: 0 auto 11em;
    flex-direction: row;
    width: 70%;
}

header
ul 
li{ 
    padding-right: 2em;
    font-size: 2em;
    list-style: none;
    color: #e1f2fb;
    display: flex;
}


header
ul 
li
a { 
    text-align: justify;
    text-decoration: none;
    color: white;
}

.navigation
a:hover{
    border-radius: 10px;
    transform: scale(1.2);
    padding: 0 10px;
    border: 1px solid #e1f2fb;
    background-color: #0BCECC;
    box-shadow: 15px 13px 27px 8px #000000;
}

header
h1{
    font-size: 5em;
    margin-bottom: .2em;
    color: #e1f2fb;
    text-shadow: 8px 6px 12px #0BCECC;;
}

header
h2 {
    font-size: 50px;
    color: #e1f2fb;
    text-shadow: 8px 6px 12px #0BCECC;
}




